# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
test-results/

# Environments
.env
.venv/
venv/
ENV/
env.bak/

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Database files
*.db

# PDFs (if generated)
*.pdf
